<h1> Welcome </h1>
<h2>You are not connected.<br/> To enjoy the features in out site we recommend to login/register</h2>

<div ng-init="unregCtrl.get3rand()">
    <table>
        <tr>
            <td ><button ng-style="{'height': '100px', 'width': '300px'}" ng-click="unregCtrl.signUp()">Login</button></td>
        </tr>
        
        <tr>
            <td ng-repeat="random in unregCtrl.random">
                <br/><br/><br/>Name:
                        <span ng-bind="random.Name"></span>
                        <br>
                        <img ng-style="{'height': '300px','width':'300px'}" ng-src="{{random.Picture}}"/>
            </td>
        </tr>
    </table>
    

</div>