body {
    width: 100%;
    height: auto;

}
.content
{
    margin-top:5%;
}
div.scrollmenu {
    background-color: #333;
    overflow: hidden;
    top: 0;
    position: fixed;
    right: 0;
    width: 100%;
    white-space: normal;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    position: center;
    padding: 14px;
    margin-left:14%;
    text-decoration: none;
    font-size: 20px;  
}

div.scrollmenu a:hover {
    background-color: #777;
}
